apiVersion: v1
kind: ConfigMap
metadata:
  name: stalwart-config
  namespace: stalwart
data:
  config.toml: |
    [server]
    hostname = "{{ .subdomains.stalwart }}.{{ .domain }}"

    [server.listener.smtp]
    bind = "[::]:25"
    protocol = "smtp"

    [server.listener.smtps]
    bind = "[::]:465"
    protocol = "smtp"
    tls.implicit = true

    [server.listener.submission]
    bind = "[::]:587"
    protocol = "smtp"

    [server.listener.imaps]
    bind = "[::]:993"
    protocol = "imap"
    tls.implicit = true

    [server.listener.https]
    bind = "[::]:8080"
    protocol = "http"

    [storage]
    data = "rocksdb"
    blob = "rocksdb"
    fts = "rocksdb"
    lookup = "rocksdb"
    directory = "ldap"

    [store.rocksdb]
    type = "rocksdb"
    path = "/opt/stalwart-mail/data"

    [directory.ldap]
    type = "ldap"
    url = "ldap://lldap.lldap.svc.cluster.local:3890"
    base-dn = "{{ printf "dc=%s" (join ",dc=" (splitList "." .domain)) }}"
    bind.dn = "uid={{ .lldap.adminUsername }},ou=people,{{ printf "dc=%s" (join ",dc=" (splitList "." .domain)) }}"
    bind.auth.enable = true

    [directory.ldap.filter]
    name = "(&(objectClass=person)(uid=?))"
    email = "(&(objectClass=person)(mail=?))"

    [directory.ldap.attributes]
    name = "uid"
    email = "mail"
    description = "displayName"

    [auth.oidc]
    issuer = "https://{{ .subdomains.dex }}.{{ .domain }}"
    client-id = "{{ .oidc.stalwart.clientId }}"
    token.verify = true

    [server.tls]
    enable = false
