{{- $baseDN := printf "dc=%s" (join ",dc=" (splitList "." .domain)) -}}
config:
  issuer: https://{{ .subdomains.dex }}.{{ .domain }}

  storage:
    type: kubernetes
    config:
      inCluster: true

  web:
    http: 0.0.0.0:5556

  connectors:
    - type: ldap
      id: lldap
      name: LLDAP
      config:
        host: lldap.lldap.svc.cluster.local:3890
        insecureNoSSL: true
        insecureSkipVerify: true
        bindDN: uid=admin,ou=people,{{ $baseDN }}
        bindPW: "${LDAP_BIND_PASSWORD}"
        userSearch:
          baseDN: ou=people,{{ $baseDN }}
          filter: "(objectClass=person)"
          username: uid
          idAttr: uid
          emailAttr: mail
          nameAttr: displayName
        groupSearch:
          baseDN: ou=groups,{{ $baseDN }}
          filter: "(objectClass=groupOfUniqueNames)"
          userMatchers:
            - userAttr: DN
              groupAttr: uniqueMember
          nameAttr: cn

  staticClients:
    # --- Fediverse ---
    - id: {{ .oidc.mastodon.clientId }}
      name: Mastodon
      secret: {{ .secrets.oidc.mastodon }}
      redirectURIs:
        - https://{{ .subdomains.mastodon }}.{{ .domain }}/auth/auth/openid_connect/callback

    - id: {{ .oidc.matrix.clientId }}
      name: Matrix Synapse
      secret: {{ .secrets.oidc.matrix }}
      redirectURIs:
        - https://{{ .subdomains.matrix }}.{{ .domain }}/_synapse/client/oidc/callback

    - id: {{ .oidc.mobilizon.clientId }}
      name: Mobilizon
      secret: {{ .secrets.oidc.mobilizon }}
      redirectURIs:
        - https://{{ .subdomains.mobilizon }}.{{ .domain }}/auth/keycloak/callback

    - id: {{ .oidc.pixelfed.clientId }}
      name: Pixelfed
      secret: {{ .secrets.oidc.pixelfed }}
      redirectURIs:
        - https://{{ .subdomains.pixelfed }}.{{ .domain }}/auth/oidc/callback

    # --- Office ---
    - id: {{ .oidc.ocis.clientId }}
      name: ownCloud OCIS
      secret: {{ .secrets.oidc.ocis }}
      redirectURIs:
        - https://{{ .subdomains.ocis }}.{{ .domain }}/

    - id: {{ .oidc.paperless.clientId }}
      name: Paperless-ngx
      secret: {{ .secrets.oidc.paperless }}
      redirectURIs:
        - https://{{ .subdomains.paperless }}.{{ .domain }}/accounts/oidc/callback

    - id: {{ .oidc.stalwart.clientId }}
      name: Stalwart Mail
      secret: {{ .secrets.oidc.stalwart }}
      redirectURIs:
        - https://{{ .subdomains.stalwart }}.{{ .domain }}/auth/oauth

    # --- SDP ---
    - id: {{ .oidc.forgejo.clientId }}
      name: Forgejo
      secret: {{ .secrets.oidc.forgejo }}
      redirectURIs:
        - https://{{ .subdomains.forgejo }}.{{ .domain }}/user/oauth2/dex/callback

    - id: {{ .oidc.harbor.clientId }}
      name: Harbor
      secret: {{ .secrets.oidc.harbor }}
      redirectURIs:
        - https://{{ .subdomains.harbor }}.{{ .domain }}/c/oidc/callback

    - id: {{ .oidc.argocd.clientId }}
      name: Argo CD
      secret: {{ .secrets.oidc.argocd }}
      redirectURIs:
        - https://{{ .subdomains.argocd }}.{{ .domain }}/auth/callback

envFrom:
  - secretRef:
      name: dex-secrets

ingress:
  enabled: true
  className: {{ .ingressClassName }}
  annotations:
    cert-manager.io/cluster-issuer: {{ .certIssuer }}
  hosts:
    - host: {{ .subdomains.dex }}.{{ .domain }}
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: dex-tls
      hosts:
        - {{ .subdomains.dex }}.{{ .domain }}
