apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: paperless-oidc-config
  namespace: paperless
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ .eso.secretStoreName }}
    kind: ClusterSecretStore
  target:
    name: paperless-oidc-config
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        PAPERLESS_SOCIALACCOUNT_PROVIDERS: |
          {
            "openid_connect": {
              "APPS": [
                {
                  "provider_id": "dex",
                  "name": "SSO Login",
                  "client_id": "{{ .oidc.paperless.clientId }}",
                  "secret": "{{ `{{ .oidcClientSecret }}` }}",
                  "settings": {
                    "server_url": "https://{{ .subdomains.dex }}.{{ .domain }}"
                  }
                }
              ],
              "OAUTH_PKCE_ENABLED": "True"
            }
          }
  data:
    - secretKey: oidcClientSecret
      remoteRef:
        key: {{ .eso.remotePathPrefix }}/dex
        property: oidc-client-secret-paperless
