mode: standalone

existingSecret: minio-secrets

replicas: 1

persistence:
  enabled: true
  storageClass: {{ .storageClass }}
  size: {{ .storage.minio }}

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    memory: 512Mi

buckets:
  - name: {{ .minio.buckets.mastodon }}
    policy: none
    purge: false

ingress:
  enabled: true
  ingressClassName: {{ .ingressClassName }}
  annotations:
    cert-manager.io/cluster-issuer: {{ .certIssuer }}
    nginx.ingress.kubernetes.io/proxy-body-size: 50m
  hosts:
    - {{ .subdomains.minio }}.{{ .domain }}
  tls:
    - secretName: minio-tls
      hosts:
        - {{ .subdomains.minio }}.{{ .domain }}

consoleIngress:
  enabled: false
