configs:
  cm:
    url: https://{{ .subdomains.argocd }}.{{ .domain }}
    oidc.config: |
      name: SSO
      issuer: https://{{ .subdomains.dex }}.{{ .domain }}
      clientID: {{ .oidc.argocd.clientId }}
      clientSecret: $argocd-oidc-secret:oidc.clientSecret
      requestedScopes:
        - openid
        - profile
        - email
        - groups

  params:
    server.insecure: true

  rbac:
    policy.csv: |
      g, admins, role:admin
      g, developers, role:readonly
    policy.default: role:readonly

server:
  ingress:
    enabled: true
    ingressClassName: {{ .ingressClassName }}
    annotations:
      cert-manager.io/cluster-issuer: {{ .certIssuer }}
    hostname: {{ .subdomains.argocd }}.{{ .domain }}
    tls: true
